<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= homeContent %></p>
<% myPosts.forEach(function (myPosts) { %>
    <% var result = myPosts.content.slice(0, 100) + (myPosts.content.length > 100 ? "..." : ""); %>
    <h1><%= myPosts.title %></h1>
    <p><%= result %> <a href="posts/<%= myPosts.title %>">Read More</a></p>
<% }); %>
<%- include("partials/footer") -%>